<main class="Container">
  <article>
    <h1 class="Todopage-title">My To-do List</h1>
    <%= form_with(url: "todos", method: "post", class: "AddTodo") do %>
      <%= text_field_tag "todo_text", nil, class: "Form-input AddTodo-text", placeholder: "What's Nex" %>
      <input
        type="date"
        class="Form-input AddTodo-date"
        name="due_date"
        required
      />
      <input type="submit" class="Btn Btn-primary" value="Add" />
    <% end %>
    <%= render partial: "todo-section", locals: { section_title: "Overdue", todos: Todo.overdue, show_due_date: true } %>
    <%= render partial: "todo-section", locals: { section_title: "Due Today", todos: Todo.due_today, show_due_date: false } %>
    <%= render partial: "todo-section", locals: { section_title: "Due Later", todos: Todo.due_later, show_due_date: true } %>
  </article>
</main>
